:root {
  --button-bg: #239dff;
  --button-hover-bg: #0774cc;
  --border-bg: #212842;
  --info-bg: #fff2cc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.3;
}

a {
  color: var(--button-hover-bg);
}

.wrapper {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.iframe {
  border-top: 4px solid var(--button-hover-bg);
}

.call__to__action {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 1rem;
}

.vertical__middle {
  display: flex;
  align-items: center;
}

.copy__clipboard {
}

.buttons__section img {
  width: 24px;
  height: 24px;
}

.drive__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf__section {
}

.button {
  background: var(--button-bg);
  padding: 12px 40px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  margin-block-end: 5px;
}

.button:hover {
  background: var(--button-hover-bg);
}

.mobile__info {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }

  .mobile__info {
    display: block;
    background: var(--info-bg);
    padding: 10px;
    margin-block-end: 1rem;
  }
  .wrapper {
    width: 100%;
  }

  .call__to__action {
    display: grid;
  }

  .button {
    margin-block-end: 1rem;
  }

  .button,
  .copy__clipboard,
  .pdf__section {
    font-size: 1.5rem;
  }

  .pdf__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
